* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}

.main {
    width: 1200px;
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #333;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 48px;
}

/* Article */
h1 {
    line-height: 2rem;
}

article {
    padding: 0 16px;
    line-height: 1.6rem;
}

article img {
    width: 640px;
    max-width: 100%;
    display: block;
    margin: 32px auto;
}

/* Mobile nav */
.nav_bars-btn {
    width: 28px;
    height: 28px;
    color: #fff;
    display: none;
    margin-left: 8px;
}

.nav_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    /* thêm hiệu ứng tạo dưới vào */
    animation: fadeIn linear 0.2s;
}

.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    /* nav này ko ẩn đi mà cho nó di chuyển ra khỏi màn hình */
    transform: translateX(-100%);
    opacity: 0;
    /* thêm hiệu ứng trượt vào */
    /* có thể viết chung hết ko cần , là all liner 0.3s */
    transition: transform linear 0.3s, opacity linear 0.3s;
}



.nav__mobile-list {
    margin-top: 20px;
}

.nav__mobile-link {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
}

.nav__mobile-close {
    width: 28px;
    height: 28px;
    color: #666;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.nav__input {
    display: none;
}

/* khi được check thì css cho thẻ sau nó */
.nav__input:checked ~ .nav_overlay {
    display: block;
}

.nav__input:checked ~ .nav__mobile {
    transform: translateX(0) !important;
    opacity: 1;
}

@media (max-width: 1023px) {
    .nav_bars-btn {        
        display: inline-block;
    }
    .nav__pc {
        display: none;
    }
}

/* tạo hiệu ứng ẩn hiện cho overlay */
@keyframes fadeIn {
    /* điểm bắt đầu */
    from {
        opacity: 0;
    }
    /* điểm kết thúc */
    to {
        opacity: 1;
    }
}