.grid {
    width: 100%;
    /* thêm vào để các thẻ ko đc block */
    display: block;
    /* reset padding */
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* loại bỏ gutter thừa margin cho moblie */
    margin-left: -4px;
    margin-right: -4px;
}

/* Các break-poin này chỉ sử dụng trên tablet đến pc */
/* tablet - PC độ phân giải thấp */
@media (min-width: 740px) and (max-width: 1023px){
        .wide {
            width: 644px;
        }
}

/* > tablet */

/* PC độ phân giải thấp */
@media (min-width: 1024px) and (max-width: 1239px){
    .wide {
        width: 984px;
    }
}