* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {
}

.text-white {
    color: #fff !important;
}

#header {
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    /* ẩn đi nếu tràn quá vùng cho phép */
    /* overflow: hidden; */
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {    
    text-decoration: none;
    padding: 0 24px;
    line-height: 46.5px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
}

#nav .subnav a {
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#header .mobile-menu-btn {    
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}


#header .search-btn:hover {
    background-color: #f44336;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
}

#slider {    
    margin-top: 46.5px;    
    padding-top: 50%;
    position: relative;
    background: #000 url('/assets/img/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    color: #fff;
    position: absolute;
    bottom: 47px;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}


#content {
    
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    text-align: justify;
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.4;
}

#content .member-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 48px;
}
#content .member-item {

}
#content .member-name {
    font-size: 15px;
    text-align: center;
}
#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

.tour-section{
    background: #000;
}

.tickets-list {
    background-color: #fff;
    list-style: none;
    margin-top: 40px;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background: #f44336;
    margin-left: 16px;
    padding: 3px 8px;
    text-align: center;
}

.tickets-list .quantity {
    background: #000;
    height: 23px;
    width: 25px;
    float: right;
    text-align: center;
    line-height: 23px;
    margin-top: -3px;
    border-radius: 50%;
}

.places-list {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 48px;
}

.place-item {
    width: 245px;
    background-color: #fff;
}

.place-img {
    width: 100%;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
   font-size: 15px;
   padding: 16px;
}
.place-heading {
    font-size: 15px;
    font-weight: 600;
}
.place-time {
    margin-top: 15px;
    opacity: 0.6;
}
.place-desc {
    margin-top: 15px;
    line-height: 1.5;
}
.place-buy-button {
    margin-top: 15px;
    width: 108px;
    height: 38px;
    color: #fff;
    background: #000;
    border: none;
    font-size: 15px;
}

.place-buy-button:hover {
    color: #000;
    background: #ccc;
}

.contact-content {
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap; 
    padding: 32px 0;
}

.contact-content .contact-info {
    width: 50%;
    font-size: 18px;
    line-height: 1.5;
}

.contact-info p i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-content .contact-form {
    width: 50%;
    font-size: 15px;
}

.contact-form .contact-form-row {
    width: 100%;
}

.contact-form .contact-form-row .contact-form-col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 8px;
}

.col-full {
    width: 100%;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
}

.contact-form-row .form-submit-btn {
    margin: 16px 0;
    padding: 10px 16px;
    float: right;
    text-transform: uppercase;
    color: #fff;
    background: #000;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.contact-form-row .form-submit-btn:hover {
    color: #000;
    background: #ccc;
}

.map-selection {
    width: 100%;
    filter: grayscale(50%);
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    cursor: context-menu;
}

#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
    
}

/* mobile */
@media (max-width: 739px) {
    #header {
        overflow: hidden;
    }
    #header .search-btn {
        display: none;
    }
    #header .mobile-menu-btn {
        display: block;
    }
    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 4.25px 36px;
    }
    #content .member-item {
        width: 60%;
        text-align: center;
    }
    .contact-content .contact-info {
        width: 100%;
    }
    .contact-content .contact-form {
        width: 100%;
    }
    .places-list {
        justify-content: space-around;
    }
    .place-item {
        width: 100%;
    }
    #content .member-img {
        width: 100%;
    }
}