/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;/*tạo font cho website*/
    /* hành động cuộn - hành vi khi cuộn */
    scroll-behavior: smooth;
}

/* 
1.từ ngoài vào trong
2.từ trên xuống dưới
3.từ tổng quan đến chi tiết

*/

/* 
1.Vị trí
2.kích thước(width,heigh)
3.màu sắc
4.kiểu dáng (kiểu chữ, hình tròn, hình vuông, ...)
*/


/* Common */
/* tạo class để các thẻ sử dụng class này để màu trắng */
.text-white {
    color: #fff !important; /*chỉ dùng khi tạo class riêng lẻ*/
}

/* reset */
.clear {
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;   
}

.mt-16 {
    margin-top: 16px !important;   
}

/* tạo các class cột và hàng để có thể dùng lại */
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
/* colum */
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
/* 1 cột */
.col-full {
    width: 100%;
}
/* 2 cột */
.col-half {
    width: 50%;
}
/* 3 cột */
.col-third {
    width: 33.33333%;
}



/* main */
#main {

}
#header {
    height: 46.5px;
    background-color: black;/*#000 là màu đen*/
    /*đính header lại trong trang web*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;/*cho mặt phẳng của nó có vị trí cao hơn so với trục z*/
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;/*bỏ dấu ở trước*/
}

#nav > li{
    display: inline-block; /*cho các thành phần thành 1 hàng*/
}

#nav li{
    
    position: relative;
}

/* con trực tiếp */
#nav > li > a {    
    color: #fff;/*màu trắng*/
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;/*thuộc tính gạch chân*/
    line-height: 46.5px;/*chiều cao của thẻ*/
    padding: 0 24px;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    /*thêm khoảng cách cho chắc chắn*/
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
    cursor: pointer; /*thay đổi trỏ chuột*/
}

#header .search-btn:hover {
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
}

#slider {
    margin-top: 46.5px;/*thêm khoảng cách để không bị header che*/
    padding-top: 50%; /*50% là 50% của chiều ngang (vì backgound-image lấy luôn cả phần padding)*/
    background: url('/assets/img/slider1.jpg') top center / cover no-repeat;
    /*top center: background-position
    sau / là background-size
    no-repeat : background-repeat*/
    position: relative;/*có trục tọa độ ở góc trên bên trái*/
}

#slider .text-content {
    position: absolute;/*trả lại vị trí ban đầu của backgroud ko chiếm phần content*/
    bottom: 47px;/*đẩy text móc với bottom của background và cách bottom 47px*/
    color: #fff;
    left: 50%;/*dẩy text móc với bên trái 50% của back ground*/
    transform: translateX(-50%);/*đẩy text về phía giữa của chính nó*/
    /*còn nhiều cách khác ví dụ cho width=100%*/
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;

}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}


#content {
}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;/*giảm đậm chữ*/
    text-align: center;
    letter-spacing: 4px;/*khoảng cách giữa các chữ*/
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;/*in nghiêng*/
    opacity: 0.6;/*độ trong suốt của chữ*/
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;/*căn đều chữ ở 2 bên*/
    /* khoảng cách giữa 2 hàng
    tiếng anh và tiếng việt khác nhau */
    line-height: 1.4;/*tiếng anh là 1.4 tiếng việt là 1.6*/
}

#content .member-list{
    margin-top: 48px;
    display: flex;
    justify-content: space-around;
}

#content .member-item {
    /* float: left; */
}

#content .member-name {
    font-size: 15px;
    text-align: center;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour section */
.tour-section {
    background-color: #000;
}

/* tickets list */
.tickets-list {
    background-color: #fff;
    list-style: none;
    margin-top: 40px;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right; /*thành block*/
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;/*căn giữa theo chiều dọc*/
    margin-top: -3px;
}


.places-list {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
}

.place-item {
    width: 245px;
    background-color: #fff;
}

.place-img {
    width: 100%;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    padding: 16px;
    font-size: 15px;

}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.6;/*khoảng cách các dòng*/
}

.place-buy-button {
    color: #fff;
    background-color: #000;
    text-decoration: none;/*bỏ gạch chân*/
    padding: 11px 16px;
    display: inline-block;/*chuyển về 1 line riêng biệt*/
    margin-top: 15px;
}

.place-buy-button:hover {
    color: #000;
    background-color: #ccc;
}

/* contact form */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info p i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;

}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn {
    font-size: 15px;
    background: #000;
    color: #fff;
    border: none;
    float: right;
    padding: 10px 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;

}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.model {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.open {
    display: flex;
}

.model-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modelFadeIn ease .5s;
}

.model-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}

.model-close:hover {
    background-color: #ccc;
    color: #000;
}

.model-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.model-body {
    padding: 16px;
}

.model-label {
    display: block; /*cho mỗi thằng nằm một hàng riêng biệt*/
    font-size: 15px;    
    margin-bottom: 12px;
}

.model-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    background: #009688;
    width: 100%;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
    border: none;
}

#buy-tickets:hover {
    opacity: 0.9;
}

.model-footer {
    padding: 16px;
    text-align: right;    
}

.model-help > a {
    color: #2196f3;
}
/* tạo chuyển động */
@keyframes modelFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}